<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Use mock hardware instead of Gazebo -->
        <plugin>mock_components/GenericSystem</plugin>
        <param name="example_param_hw_start_duration_sec">0.0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
      </hardware>

      <!-- Rear drive wheels -->
      <joint name="${prefix}rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <!-- Front steering wheels -->
      <joint name="${prefix}front_right_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}front_left_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>