<?xml version="1.0"?>
<!-- 4 Wheel Robot with front steering and rear drive -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="carlikebot_robot">
  <xacro:arg name="prefix" default="" />

  <!-- Use the existing carlikebot description from ros2_control_demo_description -->
  <xacro:include filename="$(find carlikebot_bringup)/external/ros2_control_demos/ros2_control_demo_description/carlikebot/urdf/carlikebot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find carlikebot_bringup)/external/ros2_control_demos/ros2_control_demo_description/carlikebot/urdf/carlikebot_description.urdf.xacro" />

  <!-- Import carlikebot ros2_control description -->
  <xacro:include filename="$(find carlikebot_bringup)/ros2_control/generic_control.ros2_control.xacro" />

  <xacro:carlikebot prefix="$(arg prefix)" />

  <xacro:carlikebot_ros2_control
    name="CarlikeBot" prefix="$(arg prefix)" />

</robot>